<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body class="bodyFormCad">
    <h1 class="textPrincipal">Cadastro de Animais</h1>
    <form class="formCad" th:action="@{/animais/salvar}" method="post" th:object="${animal}">

        <h2 class="tituloForm">Formulário de Animal</h2>

        <input type="hidden" th:field="*{idAnimal}">

        <label class="labelCad" for="nomeAnimal">Nome:</label>
        <input class="inputCad" type="text" id="nomeAnimal" th:field="*{nomeAnimal}"><br><br>

        <label class="labelCad" for="racaAnimal">Raça:</label>
        <input class="inputCad" type="text" id="racaAnimal" th:field="*{racaAnimal}"><br><br>

        <label class="labelCad" for="idCliente">Tutor</label>
        <select th:field="*{cliente}">
            <option value="" disable selected>Selecione o tutor</option>
            <option th:each="cliente : ${clientes}"
                    th:text="${cliente.nomeCliente}"
                    th:value="${cliente.idCliente}">
            </option>
        </select><br><br>


        <label class="labelCad" for="porteAnimal">Porte:</label>
        <input class="inputCad" type="text" id="porteAnimal" th:field="*{porteAnimal}"><br><br>

        <label class="labelCad" for="pesoAnimal">Peso:</label>
        <input class="inputCad" type="text" id="pesoAnimal" th:field="*{pesoAnimal}"><br><br>

        <button class="btnSalvar" type="submit">Salvar</button>

    </form>
    <br><br>

    <button class="btnVoltar" ><a class="linkVoltar" href="/home">Voltar</a></button>
</body>
</html>