<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listagem de Animais</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body class="bodyListar">
    <h1 class="textPrincipal">Listagem de animais</h1>
    <h3 class="textTerciario"><a th:href="@{/animais/criar}">Criar novo animal</a></h3>
    <table class="tabelaListar">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Raça</th>
                <th>Porte</th>
                <th>Peso</th>
                <th colspan="2">Ações</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="animal : ${animais}">
                <td th:text="${animal.nomeAnimal}"></td>
                <td th:text="${animal.racaAnimal}"></td>
                <td th:text="${animal.porteAnimal}"></td>
                <td th:text="${animal.pesoAnimal}"></td>
                <td>
                    <a class="linkTabelaListar" th:href="@{/animais/editar/{id}(id=${animal.idAnimal})}">Editar</a>
                    <a class="linkTabelaListar" th:href="@{/animais/excluir/{id}(id=${animal.idAnimal})}">Excluir</a>
                </td>

            </tr>
        </tbody>
    </table>

    <button class="btnVoltar" ><a class="linkVoltar" href="/home">Voltar</a></button>
</body>
</html>