<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body id="bodyHome">
    <h1 class="textPrincipal">Bem-vindo ao Sistema PetWeb</h1>
    <h3 class="textTerciario"><a href="/clientes/listar">Listar Clientes</a></h3>
    <h3 class="textTerciario"><a href="/animais/listar">Listar Animais</a></h3>

    <button class="btnVoltar" ><a class="linkVoltar" href="/petweb">Voltar</a></button>
</body>
</html>