<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body id="bodyLogin">
    <h1 class="textPrincipal">Acesso ao sistema</h1>
    <form class="formLogin" method="post" th:action="@{/login}">
            <label class="labelLogin" for="username">Usuário</label>
            <input class="inputLogin" type="text" id="username" name="username" />
            <br />
            <label class="labelLogin" for="password">Senha</label>
            <input class="inputLogin" type="password" id="password" name="password" />
            <br />

            <p class="msgLogin">
                <a  style="color: #007bff; text-decoration: none;">Esqueceu sua senha?</a>
            </p>
           
            <button class="btnEntrar" type="submit">Entrar</button>
        </form>
        <p class="msgLogin" th:if="${param.error}">Login inválido</p>
        <p class="msgLogin" th:if="${param.logout}">Logout efetuado</p>
        <br>
        <button class="btnVoltar"><a class="linkVoltar" href="/petweb">Voltar</a></button>
        
</body>
</html>