<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 class="textPrincipal">Listagem de Produtos</h1>

    <a th:href="@{/produtos/criar}">Novo Produto</a>
    <table class="tabelaListar">
        <tr>
            <th>Descrição</th>
            <th>Marca</th>
            <th>Unidade</th>
            <th>Valor</th>
            <th colspan="2">Ações</th>
        </tr>
        <tr th:each="produto : ${produtos}">
            <td th:text="${produto.descricaoProduto}"></td>
            <td th:text="${produto.marcaProduto}"></td>
            <td th:text="${produto.unidadeProduto}"></td>
            <td th:text="${produto.valorProduto}"></td>
            <td>
                <a class="linkTabelaListar"
                th:href="@{/produtos/editar/{id}(id=${produto.idProduto})}">
                    Editar
                </a>

                <a class="linkTabelaListar"
                th:href="@{/produtos/excluir/{id}(id=${produto.idProduto})}">
                    Excluir
                </a>
            </td>
        </tr>
    </table>
    <button class="btnVoltar" ><a class="linkVoltar" href="/home">Voltar</a></button>
</body>
</html>