<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 class="textPrincipal">Catálogo de Produtos</h1>

    <table class="tabelaListar">
        <tr>
            <th>Descrição</th>
            <th>Marca</th>
            <th>Unidade</th>
            <th>Valor</th>
            <th colspan="2">Ações</th>
        </tr>
        <tr th:each="produto : ${produtos}">
            <td th:text="${produto.descricaoProduto}"></td>
            <td th:text="${produto.marcaProduto}"></td>
            <td th:text="${produto.unidadeProduto}"></td>
            <td th:text="${produto.valorProduto}"></td>
        </tr>
    </table>
    <button class="btnVoltar" ><a class="linkVoltar" href="/areaUsuario">Voltar</a></button>
</body>
</html>