<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body id="bodyFormUser">
      <h1 class="textPrincipal">Cadastro de Usuários</h1>
      <form class="formLogin" th:action="@{/usuarios/salvar}" method="post" th:object="${usuarios}">
          <input type="hidden" th:field="*{idUsuario}">
  
          <label class="labelLogin" for="nomeUsuario">Nome</label>
          <input class="inputLogin" type="text" th:field="*{nomeUsuario}">
          <br />
  
          <label class="labelLogin" for="emailUsuario">Email</label>
          <input class="inputLogin" type="text" th:field="*{emailUsuario}">
          <br />
  
          <label class="labelLogin" for="cpfUsuario">Cpf</label>
          <input class="inputLogin" type="text" th:field="*{cpfUsuario}">
          <br />
  
          <label class="labelLogin" for="telefoneUsuario">Telefone</label>
          <input class="inputLogin" type="text" th:field="*{telefoneUsuario}">
          <br />
  
          <label class="labelLogin" for="loginUsuario">Login</label>
          <input class="inputLogin" type="text" th:field="*{loginUsuario}">
          <br />
  
          <label class="labelLogin" for="senhaUsuario">Senha</label>
          <input class="inputLogin" type="password" th:field="*{senhaUsuario}">
          <br />
  
          <input class="btnSalvar"  type="submit" value="salvar">
      </form>
      <button class="btnVoltar" ><a class="linkVoltar" href="/petweb">Voltar</a></button>
</body>
</html>