<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body class="bodyListar">
        <h1 class="textPrincipal">Listagem de clientes</h1>
        <h3 class="textTerciario"><a th:href="@{/consultas/criar}">Criar novo cliente</a></h3>
        <table class="tabelaListar" >
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Especialidade</th>
                    <th>Telefone</th>
                    <th>CRM</th>
                    <th>CPF</th>
                    <th colspan="2">Ações</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="veterinario : ${veterinarios}">
                    <td th:text="${veterinario.nomeVeterinario}"></td>
                    <td th:text="${veterinario.especialidadeVeterinario}"></td>
                    <td th:text="${veterinario.telefoneVeterinario}"></td>
                    <td th:text="${veterinario.crmVeterinario}"></td>
                    <td th:text="${veterinario.cpfVeterinario}"></td>
                    <td>
                        <a class="linkTabelaListar" th:href="@{/consultas/editar/{id}(id=${consulta.idConsulta})}">Editar</a>
                        <a class="linkTabelaListar" th:href="@{/consultas/excluir/{id}(id=${consulta.idConsulta})}">Excluir</a>
                    </td>
    
    
                </tr>
            </tbody>
    
        </table>
        <button class="btnVoltar" ><a class="linkVoltar" href="/home">Voltar</a></button>
</body>
</html>
